<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgregarFactura</title>
</head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center">LISTADO DE FACTURAS/div>

    <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="AGREGAR FACTURAS" class="btn btn-info">
    </form>
    
    <a href="/facturas" class="btn tbn-info mt-5">Facturas</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>